<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120231228081318.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1ebb89ee-24e6-42b6-9156-ae0922ef807b/resourcegroups/MyFirstResourceGp/providers/Microsoft.Web/sites/FunctionApp120231228081318</ResourceId>
    <UserName>$FunctionApp120231228081318</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp120231228081318.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>