
<div class="navstyle">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"  style="color: white;">NewsZone</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h5 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:whitesmoke; font-style: italic;font-size: 18px;">Welcome {{userName}}</h5>
           <div>
            <form class="d-flex" role="search">
              <button class="btn btn-lg " routerLink="/wishlist" style="color: white;">Wishlist</button>
              <button class="btn btn-lg "  (click)="logout()" style="color: white;">SignOut</button>
            </form>
          </div>
        </div>
      </nav>
      </div>

      
      <div class="searchbar">
        <input #searchInput placeholder="Search news here.."/>&nbsp;
        <button class="btn btn-primary" (click)="getNews(searchInput.value)" style="font-size: small;">Search</button>
      </div>

<h2 style="text-align: center;color: brown;background-color: antiquewhite;" class="title">{{title}}</h2>
<p *ngIf="!news">Fetching current News ......</p>
<div class="column">
<div class="row">
<div *ngFor="let n of news" class="col-md-4"> 
    
        <div class="card" >
            <div class="container">
                <br>
                <a href={{n.url}}><img class="image"  src={{n.urlToImage}}  alt="Error fetching the image" style="width:100%"></a>
                <h4 style="color: darkmagenta;">{{n.title}}</h4> 
                <h5>{{n.author}}</h5>
                <p>{{n.description}}</p>
                
               <button (click)="addToFavorites(n)" class="btn btn-light" >Add to Wishlist <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
              </svg>
            </button>
            </div>
        </div>
        <br><br>
    </div>
</div>
</div>

